/* Just setting the main body of the page to a column to stack the different sections.
Set the height to 100 to take up the entire page + removing the default formatting */
body, html {
    display: flex;
     flex-direction: column;
     minimum-height: 100%;
     margin: 0;
}
 li {
     display: flex;
     list-style-type: none;
 }
 ul {
     display: flex;
     gap: 24px;
     padding: 0;
     margin: 0;
 }
 a {
     text-decoration: none;
     color: #e5e7eb;
     font-size: 14px;
 }
 /* All of the formatting for the first section will go below here. This is the first, dark blue section with
 the image. */
.header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    align-items: center;


}
.header-body {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px;

}
.header-text-headline {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
.header-text-body {
    font-size: 18px;
    color: #e5e7eb;
}
.navbar {
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.header-logo {
    color: #f9faf8;
    font-size: 24px;
}
.header-links {
    display: flex;
    justify-content: flex-end;
 }
.header-text-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 40%;

}
.zagan-palace {
    max-height: 200px;
    border-radius: 10px;
}
.header-text-content button {
    width: 100px;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    margin-top: 12px;
}
.header-text-content button:hover {
    opacity: 50%;

}
/* This is for the second section with the blue outlined boxes. They are arranged as a column stacked
above some text */
.card-section {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information-header {
    font-weight: 800;
    font-size: 36px;
    margin: 24px;

}
.card-container {
    display: flex;
}
.card-image {
    width: 150px;
    height: 150px;
    border-radius: 12px;
}
.card {
    width: 150px;
    margin: 24px;
    text-align: center;
}
.card-text {

}

/* This is the third section with the quote that is centered
with italic text */
.quote-section {
    flex-grow: 2;
    background-color: #e5e7eb;
}
.cta-section {
    flex-grow: 1.5;

}
.footer {
    display: flex;
    background-color: #1f2937;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
}
.quote-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.signature {
    font-weight: bold;
    justify-content: flex-end;
}