/* Just setting the main body of the page to a column to stack the different sections.
Set the height to 100 to take up the entire page + removing the default formatting */
body {
    display: flex;
     flex-direction: column;
     min-height: 100vh;
     margin: 0px;

}
 li {
     display: flex;
     list-style-type: none;
     padding: 0;
     margin: 0;
 }
 ul {
     display: flex;
     gap: 10px;
 }


 a {
     text-decoration: none;
     color: #e5e7eb;
     font-size: 14px;
 }
 /* All of the formatting for the first section will go below here. This is the first, dark blue section with
 the image placeholder. */
.header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    flex-grow: 2;
    flex-basis: 0;
}
.navbar {
    display: flex;
    justify-content: space-around;

}
.header-body {
    display: flex;
    justify-content: space-around;
}
.header-text-headline {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
.header-text-body {
    font-size: 18px;
    color: #e5e7eb;

}
.header-logo {
    display: flex;
    justify-content: flex-start;
    color: #f9faf8;
    font-size: 24px;

}

.header-links {
    display: flex;
    justify-content: flex-end;


 }

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    gap: 48px;

}
.header-text-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 500px;


}
.header-text-content button {
    width: 100px;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;

}
.placeholder-image {
    display: flex;

    padding: 50px;
    background-color: gray;
    color: #f9faf8;


}
.placeholder-image-column {
    display: flex;
    flex-direction: column;
    justify-content: center;


}
/* This is for the second section with the blue outlined boxes. They are arranged as a column stacked
above some text */
.card-section {
    background-color: #fdfdfd;
    flex-grow: 2;

}
.quote-section {
    flex-grow: 2;
    background-color: #e5e7eb;
}
.cta-section {
    flex-grow: 1.5;

}
.footer {
    display: flex;
    background-color: #1f2937;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
}
.quote-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.signature {
    font-weight: bold;
    justify-content: flex-end;
}